/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


@media (min-width: 576px) {
  .login-container {
    margin: 1rem;
  }
}

.login-container {
  text-align: center;
}

.login {
  margin: 1rem;
  color: white !important;
  font-size: 1.5rem;
}

html,body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  background: url('../images/bg-pattern.png'), #fab034;
  background: url('../images/bg-pattern.png'), -webkit-linear-gradient(to left, #fab034, dimgray);
  background: url('../images/bg-pattern.png'), linear-gradient(to left, #fab034, dimgray);
  height: 100%;
  width: 100%;
}


#wrapper{
  max-width: 100%;
  width: 940px;
  margin: 0 auto;
}

.main{
  max-width: 100%;
  width: 940px;
  float: left;
}

.header, .content, .bottom, .sep2{
  width: 100%;
  float: left;
}




@media (min-width: 576px) {
  .header{
    margin-top: 160px;
    margin-bottom: 40px;
  }
}

.header{
  margin-top: 20px;
}


h1{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 10px 0;
}


h1 strong{
  font-size: 38px;
  font-weight: 700;
}

h2{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;

}

h2 strong{
  font-weight: 700;
  font-style: italic;
}


.information{
  width: 480px;
  margin: 0 auto;
}

h3{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.information p{
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.form{
  position: relative;
  width: 478px;
  margin-top: 20px;
}

.field{
  background: rgba(0, 0, 0, 0.33);
  width: 448px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  border: none;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 16px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
}
.field:focus {
  border: 1px solid #fab034;
  padding: 14px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

@media only screen and (max-width: 480px)  {
  .information{
    width: 100%;
  }
  .form{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .field {
    width: 90%;
  }
}

.submit{
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 3px 10px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: #ffffff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}


.submit:hover{
  background: #eeeeee;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #7EB6FF;
}

.g-recaptcha, .g-recaptcha > div {
  margin: auto;
}

.logo-container {
  text-align: center;
}

@media (min-width: 576px) {
  .logo-container {
    margin-bottom: 2rem;
  }
}

.logo {
  height: 25vh;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
}

.btn:not([disabled]):not(.disabled) {
  cursor: pointer;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn {
  border-radius: 300px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}
